* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto ;
}

body {
    background-color: #808080;
}

div {
    padding: 20px 0;
    width: auto;
    color: white;
}
#players {
    width: 290px;
    position: absolute;
    font-size: small;
    right:0;
    top: 0;
    padding-left: 10px;
    border: wheat 1px solid;
}

#points {
    position: absolute;
    text-align: center;
    top: 0;
    font-size: 30px;
    right: 0;
    left: 0;
}

#keysbuttons{
    position: relative;
    top: 220px;
    text-align: center;
    margin: 0 auto;
}

.keybutton {
    position: relative;
    margin: 5px 3px;
    display: inline-block;
    text-align: center;
    box-shadow:  2px 2px 2px #aafdfd,
     2px -2px 2px #aafdfd,
     -2px 2px 2px #aafdfd,
     -2px -2px 2px #aafdfd;
    background-color: #00ffff;
    padding: 25px;
    color: black;
    font-weight: 800;
}
.keybutton:hover {
    cursor: pointer;
}

button {
    position: absolute;
    z-index: 50;
    border: 1px #00ffff solid;
    border-radius: 5px;
    background-color: #00000000;
    padding: 10px;
    font-size: large;
    color: #00ffff;

}
button:hover, #endGame:hover {
    background-color: #009e9e;
    border: 1px #00ffff solid;
    color: black;
    cursor: pointer;
}

button:active, #endGame:active {
    background-color: darkgreen;
    color: white;
}

main {
    width: 650px;
    height: 400px;
    background-color: #252525;
}
#endGame {
    position: absolute;
    border: 1px red solid;
    color: red;
    top: 0;
    right: 24.5%;
}
#gm {
    position: relative;
    margin: 0 auto;
    top:0;
    text-align: center;
    color: #ffff;
}
form {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 100px;
}

form #name {
    background: none;
    text-align: center;
    color: white;
    font-size: xx-large;
    outline: none;
    border: none;
}

form #createUser{
    position: relative;
    display: inherit;
    margin-top: 40px;
    color: green;
    border: 2px solid green;
    background: none;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    outline: none;
}

form #createUser:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

form #createUser:active {
    background-color: cyan;
    border: 2px solid cyan;
    color: white;
    outline: none;
}