* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto ;
}

body {
    background-color: #808080;
}

div {
    padding: 20px 0;
    width: auto;
    color: white;
}
#players {
    width: 206px;
    position: relative;
    font-size: 0.9vw;
    right: 209px;
    padding: 10px;
    bottom: 395px;
    padding-left: 10px;
    border: wheat 1px solid;
}

#points {
    position: relative;
    text-align: center;
    top: -40px;
    font-size: 30px;
   
}

#keysbuttons{
    position: relative;
    top: 120px;
    width: 501.1px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.keybutton {
    position: relative;
    margin: 5px 3px;
    display: inline-block;
    text-align: center;
    box-shadow:  2px 2px 2px #aafdfd,
     2px -2px 2px #aafdfd,
     -2px 2px 2px #aafdfd,
     -2px -2px 2px #aafdfd;
    background-color: #00ffff;
    padding: 25px;
    color: black;
    font-weight: 800;
}
.keybutton:hover {
    cursor: pointer;
}
#welcome {
    position: relative;
    font-size: x-large;
    top: -140px;
    width: 350px;
   
    text-align: center;
}

#welcome:hover{
    cursor: pointer;
    text-decoration: underline;
}
#welcome:active {
    color: cyan;
}
#startbtn {
    position: relative;
    top: 200px;
    left: 36%;
    font-size: xx-large;
}

button {
    position: absolute;
    z-index: 50;
    border: 1px #00ffff solid;
    border-radius: 5px;
    background-color: #00000000;
    padding: 10px;
    font-size: large;
    color: #00ffff;

}
button:hover, #endGame:hover {
    background-color: #009e9e;
    border: 1px #00ffff solid;
    color: black;
    cursor: pointer;
}

button:active, #endGame:active {
    background-color: darkgreen;
    color: white;
}

main {
    margin: 0 auto;
    max-width: 650px;
    height: 400px;
    background-color: #252525;
}
#btnAlign {
    position: absolute;
    top: 0;
}
#endGame {
    position: relative;
    border: 1px red solid;
    color: red;
    top: -13px;
    left: 541px;
}
#gm {
    position: relative;
    margin: 0 auto;
    top:0;
    text-align: center;
    color: #ffff;
}

#failed {
    padding: 20px 0;
    width: auto;
    color: white;
    text-align: center;
    font-size: xxx-large;
    position: relative;
    top: 20px;
}
form {
    position: relative;
    margin: 0 auto;
    text-align: center;
    /* top: 100px; */
}

form #name {
    background: none;
    text-align: center;
    color: white;
    font-size: xx-large;
    outline: none;
    border: none;
}

form #createUser{
    position: relative;
    display: inherit;
    margin-top: 40px;
    color: green;
    border: 2px solid green;
    background: none;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    outline: none;
}

form #createUser:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

form #createUser:active {
    background-color: cyan;
    border: 2px solid cyan;
    color: white;
    outline: none;
}

@media only screen and (max-width: 650px) {
 main { 
    margin: 0 auto;
    max-width: 550px;
    height: 300px;
    background-color: #252525;
}

#keysbuttons{
    position: relative;
    top: 50px;
    width: 501.1px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

#btnAlign {
    position: absolute;
    top: 0;
    left: -55px ;
}

#players {
    width: 115px;
    position: relative;
    font-size: 0.9vw;
    right: 204px;
    padding: 10px;
    bottom: 300px;
    padding-left: 10px;
    border: wheat 1px solid;
}
}